@model Product

<p>Create a new product</p>
<form method="post">
    <div class="border p-4 m-4">
        <div asp-validation-summary="All">
        </div>
        <div class="row mb-3 p-3">
            <label class="p-0" asp-for="Title"></label>
            <input type="text" asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="row mb-3 p-3">
            <label class="p-0" asp-for="Description"></label>
            <input type="text" asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row mb-3 p-3">
            <label class="p-0" asp-for="ISBN"></label>
            <input type="text" asp-for="ISBN" class="form-control" />
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
        <div class="row mb-3 p-3">
            <label class="p-0" asp-for="Author"></label>
            <input type="text" asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="row mb-3 p-3">
            <label class="p-0" asp-for="ListPrice"></label>
            <input asp-for="ListPrice" class="form-control" />
            <span asp-validation-for="ListPrice" class="text-danger"></span>
        </div>
        <div class="row mb-3 p-3">
            <label class="p-0" asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="row mb-3 p-3">
            <label class="p-0" asp-for="Price50"></label>
            <input asp-for="Price50" class="form-control" />
            <span asp-validation-for="Price50" class="text-danger"></span>
        </div>
        <div class="row mb-3 p-3">
            <label class="p-0" asp-for="Price100"></label>
            <input asp-for="Price100" class="form-control" />
            <span asp-validation-for="Price100" class="text-danger"></span>
        </div>

        <div class="row mb-3 p-3">
            <label class="p-0" asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-control">
                <option disabled selected>--select--</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="row p-3">
            <div class="col-6">
                <button type="submit" class="btn btn-primary w-100" style="width:150px">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary w-100" style="">Back to List</a>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}