@model List<Category>
<p>Category</p>
<table class="table table-border">
    <thead>
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>DISPLAY ORDER</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var ob in Model.OrderBy(u=>u.DisplayOrder))
        {
            <tr>
                <td>@ob.Id</td>
                <td>@ob.Name</td>
                <td>@ob.DisplayOrder</td>
            </tr>
        }
    </tbody>
</table>
